body {
    font-family: "Roboto", sans-serif;
    color: var(--main-dark-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
:root {
    --main-dark-color: #2e2f42;
    --main-line-height: 1.5;
    --main-white-color: #ffffff;
}

/*index.html*/

.header {
background-color: var(--main-white-color);
}

.header-navigation {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.33;
letter-spacing: 0.02em;
color: #2E2F42;

}

.header-logo {
    font-family: "Raleway";
    color: var(--main-dark-color);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}
.header-logo-web {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}

.header-link {
    color: var(--main-dark-color);
}
.header-link:hover,
.header-link:focus {
color: #404bbf;
}
.contacts-address {
font-style: normal;
}
.contact-link {
color: #434455;
}
.contact-link:hover,
.contact-link:focus {
color: #404bbf;
}

/* main */

.main {
    background-color: var(--main-dark-color);
}
.main-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--main-white-color);
}
.main-button {
    font-family: inherit;
    background: #4d5ae5;
    color: var(--main-white-color);
}
.main-btn:focus,
.main-btn:hover {
    background: #404bbf;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.attitudes-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.attitudes-list {
    
}

.attitudes-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}

.attitudes-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

  /* products */

.products-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-color);
}

  /* team */

.team {
    background: #f4f4fd;
}
.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-dark-color);
}

.team-item {
    background-color: var(--main-white-color);
}
.team-item-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-dark-color);
}
.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

  /* footer */
.footer {
    background: var(--main-dark-color);
}
.footer-logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #f4f4fd;
}
.footer-logo-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
}
.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.16;
    letter-spacing: 0.02em;

color: #E7E9FC;
}